## Settings for the assembly homology service and CLI.

[assemblyhomology]

# MongoDB information.
mongo-host=
mongo-db=
mongo-user=
mongo-pwd=

# A directory to use for temporary files:
temp-dir=./assemblyhomology_temp
